@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Light mode */
html, body {
  background-color: #f8fafc;
  min-height: 100%; 
  overscroll-behavior: none;
}

/* Dark mode */
.dark html, .dark body {
  background-color: #1a202c; 
}