@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* disable scrollbar on all browsers */
html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Light mode */
html,
body {
  background-color: #f8fafc;
  min-height: 100%;
  overscroll-behavior: none;
}

/* Dark mode */
.dark html,
.dark body {
  background-color: #1a202c;
}

/* this makes the transition between light and dark mode smooth, just ignore the css syntax error */
body * {
  @apply transition-colors duration-500;
}